<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
        <h5><%= chart %></h5>
    <iframe src="<%= chart %>" width="960" height="500"></iframe>
</body>
</html>
